@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/* General design -----------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h1 {
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 0.8em;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header design -----------------------------------------------*/

header, a {
    font-family: 'Raleway', sans-serif;
}

header, header ul {
    display: flex;
}

header {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

header img {
    transform: scale(42%);
    position: relative;
    left: -30px;    
}

header ul {
    padding-left: 0;
}

header li {
    margin-right: 30px;
}

header a {
    color: hsl(0, 0%, 100%);
    font-size: 0.7em;
}

/* Main design -----------------------------------------------*/

main {
    text-align: center;
    margin-top: 35px;
}

main img {
    max-width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

main h1, main p {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    max-width: 300px;
    line-height: 1.6em;
}

main p {
    max-width: 276px;
}
main a {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 220px;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border-radius: 20px;
}

.get_started {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 0.8em;
    font-weight: 700;
    color: white;
}